body {
    background-color: #36393F;
}

h1, h2, h3, p {
    color: #fdce4c;
}

#main {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
    margin: 5vh 35vw 0vh;
    font-size: 1vw;
    font-family: 'Titillium Web', sans-serif;
}

.images {
    display: inline-block;
}

#title {
    font-size: 10vw;
    font-family: 'Licorice', cursive;

    margin-top: 0;
    margin-bottom: 0.25vh;
}

#subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 2vw;
    margin-bottom: 0.25vw;
}

img {
    width: 5vw;
    height: auto;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fdce4c;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    color: Black;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    display: block;
}

.sidenav a:hover{
    color: #8c8c8c;
}

.sidenavRight {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fdce4c;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.btn {
    background-color: #fdce4c;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }